
/* style tags */


/* 
  /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */




/* end of style tages */


*
{
  cursor: url(https://techfest.org/2018/cursor.cur),auto;
}


  /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
  @font-face{font-family:'Calluna';
    src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
   }
   body {
   
     background:linear-gradient(to bottom, rgba(100, 100, 0, 0.5), rgba(100, 100, 0, 0.5)) cover,
       url(//subtlepatterns.com/patterns/scribble_light.png) 0 0 no-repeat fixed;
   
     /* background: url(//subtlepatterns.com/patterns/scribble_light.png); */
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     back
     font-family: Calluna, Arial, sans-serif;
     min-height: 1000px;
   }
   #columns {
     column-width: 320px;
     column-gap: 15px;
     width: 90%;
     max-width: 1100px;
     margin: 50px auto;
   }
   
   div#columns figure {
     background: #fefefe;
     box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
     margin: 0 2px 15px;
     padding: 15px;
     padding-bottom: 10px;
     transition: opacity .4s ease-in-out;
     display: inline-block;
     column-break-inside: avoid;
   }
   
   div#columns figure img {
     width: 100%; height: auto;
     border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
     margin-bottom: 5px;
   }
   
   div#columns figure figcaption {
     font-size: .9rem;
     color: #444;
     line-height: 1.5;
   }
   
   div#columns small { 
     font-size: 1rem;
     float: right; 
     text-transform: uppercase;
     color: rgb(240, 231, 231);
   } 
   
   div#columns small a { 
     color: #666; 
     text-decoration: none; 
     transition: .4s color;
   }
   
   div#columns:hover figure:not(:hover) {
     opacity: 0.4;
   }
   
   @media screen and (max-width: 750px) { 
     #columns { column-gap: 0px; }
     #columns figure { width: 100%; }
   }





@font-face{font-family:'Calluna';
 src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/callunasansregular-webfont.woff') format('woff');
}
body {
    overflow-x: hidden;
	/* background: url(//subtlepatterns.com/patterns/scribble_light.png); */
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
.magnovitelogo
{
  position: absolute;
  width: 200px;
  height: 150px;
  top:10px;
  left:42%;
}
#columns {
  column-width: 300px;
	column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  padding: 50px auto;
	/* margin: 50px auto; */
}
.eventcontainer
{
  padding: 0;
  margin: 0;
  background:rgb(3, 2, 2);
}
.culture
{
   margin: 0 auto;
   
  padding-top: 170px;
  
  font-size: 44px;
  font-weight: 700;
  background: -webkit-linear-gradient( rgb(238, 231, 231),rgb(94, 255, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.aboutevent
{
  width:75%;
  margin: 0 auto;

}
.aboutevent p
{
  padding-top: 15px;
  color: #5bbd72;
  font-size: 22px;
  text-justify: auto;
}
div#columns figure {
	
	background: rgb(255, 255, 255,0.9);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}
div#columns figure:hover {
background-color: white;
}

div#columns figure img {
	width: 100%; height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
	color: rgb(0, 0, 0);
  line-height: 1.5;
}

}
div#columns small { 
  font-size: 1rem;
  float: right; 
  text-transform: uppercase;
  color: rgb(255, 224, 224);
} 

div#columns small a { 
  color: rgb(253, 249, 249); 
  text-decoration: none; 
  transition: .4s color;
}

div#columns:hover figure:not(:hover) {
  opacity: 0.2;

  
}


@media screen and (max-width: 750px) { 
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}

/* menu */


@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");


nav {
    z-index: 1;
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(25px, -25px, 0);
          transform: translate3d(25px, -25px, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
nav.top-right {
  top: -140px;
  right: -140px;
}

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.disc div {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.open .disc {
  pointer-events: auto;
  opacity: 1;
}

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: tomato;
  transition-delay: 0s;
}
.open .l1 {
  transition-delay: 0s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l1:hover {
  background: shade(tomato, 90%);
  color: tomato;
  transition-delay: 0s;
}
.open .l1:active {
  background: shade(tomato, 50%);
  color: tomato;
}
.open .l1.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #ff7a39;
  transition-delay: 0.1s;
}
.open .l2 {
  transition-delay: 0.1s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l2:hover {
  background: shade(#ff7a39, 90%);
  color: #ff7a39;
  transition-delay: 0s;
}
.open .l2:active {
  background: shade(#ff7a39, 50%);
  color: #ff7a39;
}
.open .l2.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #ff912b;
  transition-delay: 0.2s;
}
.open .l3 {
  transition-delay: 0.2s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l3:hover {
  background: shade(#ff912b, 90%);
  color: #ff912b;
  transition-delay: 0s;
}
.open .l3:active {
  background: shade(#ff912b, 50%);
  color: #ff912b;
}
.open .l3.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #ffa91c;
  transition-delay: 0.3s;
}
.open .l4 {
  transition-delay: 0.3s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l4:hover {
  background: shade(#ffa91c, 90%);
  color: #ffa91c;
  transition-delay: 0s;
}
.open .l4:active {
  background: shade(#ffa91c, 50%);
  color: #ffa91c;
}
.open .l4.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffc00e;
  transition-delay: 0.4s;
}
.open .l5 {
  transition-delay: 0.4s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
  opacity: 1;
}
.open .l5:hover {
  background: shade(#ffc00e, 90%);
  color: #ffc00e;
  transition-delay: 0s;
}
.open .l5:active {
  background: shade(#ffc00e, 50%);
  color: #ffc00e;
}
.open .l5.toggle {
  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
          transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: gold;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  pointer-events: auto;
  transition-delay: 0s;
}
.open .toggle {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
          transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
  background: shade(gold, 90%);
  color: gold;
}
.toggle:active {
  background: shade(gold, 50%);
  color: rgba(255, 215, 0, 0.5);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition-duration: 0s;
}


/* end */

/* button */

a
{
  cursor: pointer;
}
.button {
  text-align: center;
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
  margin-left: 0px;
  margin: 0 auto;
	padding: 0px;
	border: none;
	background: none;
	color:inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.button--text-thick {
  font-weight: 700;
  border: none;
}
.button--text-upper {
	letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
}

.button--size-s {
	font-size: 14px;
}
/* Moema */
.button--moema {
	padding: 1em 2em;
	border-radius: 50px;
	background: #06070f;
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
}
.button--moema.button--inverted {
  border: none;
	background: #ECEFF1;
	color: #37474f;
}
.button--moema::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 50px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
  border: none;
}
.button--moema:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: rgb(242, 250, 255);
	background-color: #3f51b5;
	-webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
  border: none;
}
.button--moema.button--inverted:hover {
	color: #ECEFF1;
  background-color: #7986cb;
  border: none;
}
.button--moema:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
  border: none;
}
@-webkit-keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-1 {
	60% {
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
	85% {
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
@keyframes anim-moema-2 {
	to {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

/* image slider */


    /* slider */


     /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
     .slider, 
     .slider > div {
         /* Images default to Center Center. Maybe try 'center top'? */
         background-position: center center;
         display: block;
         width: 100%;
         height: 350px;
         /* height: 100vh; *//* If you want fullscreen */
         position: relative;
         background-size: cover;
         background-repeat: no-repeat;
         background-color: #000;
         overflow: hidden;
         -moz-transition: transform .4s;
         -o-transition: transform .4s;
         -webkit-transition: transform .4s;
         transition: transform .4s;
     }
     
     .slider > div {
         position: absolute;
     }
     
     .slider > i {
         color: #5bbd72;
         position: absolute;
         font-size: 60px;
         margin: 20px;
         top: 40%;
         text-shadow: 0 10px 2px #223422;
         transition: .3s;
         width: 30px;
         padding: 10px 13px;
         background: #fff;
         background: rgba(255, 255, 255, .3);
         cursor: pointer;
         line-height: 0;
         box-sizing: content-box;
         border-radius: 3px;
         z-index: 4;
     }
     
     .slider > i svg {
         margin-top: 3px;
     }
     
     .slider > .left {
         left: -100px;
     }
     .slider > .right {
         right: -100px;
     }
     .slider:hover > .left {
         left: 0;
     }
     .slider:hover > .right {
         right: 0;
     }
     
     .slider > i:hover {
         background:#fff;
         background: rgba(255, 255, 255, .8);
         transform: translateX(-2px);
     }
     
     .slider > i.right:hover {
         transform: translateX(2px);
     }
     
     .slider > i.right:active,
     .slider > i.left:active {
         transform: translateY(1px);
     }
     
     .slider:hover > div {
         transform: scale(1.01);
     }
     
     .hoverZoomOff:hover > div {
         transform: scale(1);
     }
     
     .slider > ul {
         position: absolute;
         bottom: 10px;
         left: 50%;
         z-index: 4;
         padding: 0;
         margin: 0;
         transform: translateX(-50%);
     }
     
     .slider > ul > li {
         padding: 0;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         list-style: none;
         float: left;
         margin: 10px 10px 0;
         cursor: pointer;
         border: 1px solid #fff;
         -moz-transition: .3s;
         -o-transition: .3s;
         -webkit-transition: .3s;
         transition: .3s;
     }
     
     .slider > ul > .showli {
         background-color: #7EC03D;
         -moz-animation: boing .5s forwards;
         -o-animation: boing .5s forwards;
         -webkit-animation: boing .5s forwards;
         animation: boing .5s forwards;
     }
     
     .slider > ul > li:hover {
         background-color: #7EC03D;
     }
     
     .slider > .show {
         z-index: 1;
     }
     
     .hideDots > ul {
         display: none;
     }
     
     .showArrows > .left {
         left: 0;
     }
     
     .showArrows > .right {
         right: 0;
     }
     
     .titleBar {
         z-index: 2;
         display: inline-block;
         background: rgba(0,0,0,.5);
         position: absolute;
         width: 100%;
         bottom: 0;
         transform: translateY(100%);
         padding: 20px 30px;
         transition: .3s;
         color: #fff;
     }
     
     .titleBar * {
         transform: translate(-20px, 30px);
         transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
         opacity: 0;
     }
     
     .titleBarTop .titleBar * {
         transform: translate(-20px, -30px);
     }
     
     .slider:hover .titleBar,
     .slider:hover .titleBar * {
         transform: translate(0);
         opacity: 1;
     }
     
     .titleBarTop .titleBar {
         top: 0;
         bottom: initial;
         transform: translateY(-100%);
     }
     
     .slider > div span {
         display: block;
         background: rgba(0,0,0,.5);
         position: absolute;
         bottom: 0;
         color: #fff;
         text-align: center;
         padding: 0;
         width: 100%;
     }
     
     
     @keyframes boing {
         0% {
             transform: scale(1.2);
         }
         40% {
             transform: scale(.6);
         }
         60% {
             transform: scale(1.2);
         }
         80% {
             transform: scale(.8);
         }
         100% {
             transform: scale(1);
         }
     }
     
     /* -------------------------------------- */
     
     #slider2 {
         max-width: 30%;
         margin-right: 20px;
     }
     
     .row2Wrap {
         display: flex;
     }
     
     .content {
         padding: 50px;
         margin-bottom: 100px;
     }
     
     html {
         height: 100%;
         box-sizing: border-box;
     }
     *, *:before, *:after {
         box-sizing: inherit;
     }
     h1, h2, h3 {
         font-family: 'Crimson Text', sans-serif;
         font-weight: 100;
     }
     
     .content {
         padding: 10px 15vw;
     }
     
     .eventHeading
     {
       text-align: center;
         color:rgb(131, 245, 17);
         font-size: 40px;
        font-weight: 700;
     }
     .aboutevent
     {

        color: #7EC03D;
     }




 
  /* Floating Social Media Bar Style Starts Here */
  

  .fl-fl {
    border-top-left-radius: 80%;
    border-bottom-left-radius: 80%;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 1000;
    text-shadow: 1px 1px 1px grey;
    padding: 4px;
    width: 190px;
    position: fixed;
    right: -150px;
    z-index: 1000;
    font: normal normal 10px Arial;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  
  .fa {
    font-size: 20px;
    color: gold;
      padding: 10px 10px;
    width: 40px;
    margin-left: -10.5px;
    border-radius: 50%;
  }
  
  .fl-fl:hover {
    right: 0;
  }
  
  .fl-fl a {
    color: gold !important;
    text-decoration: none;
    text-align: center;
    line-height: 43px!important;
    vertical-align: top!important;
  }
  
  .float-fb {
    top: 160px;
  }
  
  .float-tw {
    top: 215px;
  }
  
  .float-gp {
    top: 270px;
  }
  
  .float-rs {
    top: 435px;
  }
  
  .float-ig {
    top: 380px;
  }
  
  .float-yt {
    top: 325px;
  }
  /* end of social media */


/* footer */

a {
    
  }
  
  a:hover {
    
    text-decoration: none;
  }
  
  ::selection {
    background: #fec503;
    text-shadow: none;
  }
  
  footer {
    padding: 2rem 0;
    background-color: #212529;
  }
  
  .footer-column:not(:first-child) {
    padding-top: 2rem;
  }
  @media (min-width: 768px) {
    .footer-column:not(:first-child) {
      padding-top: 0rem;
    }
  }
  
  .footer-column {
    text-align: center;
  }
  .footer-column .nav-item .nav-link {
    padding: 0.1rem 0;
  }
  .footer-column .nav-item span.nav-link {
    color: #6c757d;
  }
  .footer-column .nav-item span.footer-title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  .footer-column .nav-item .fas {
    margin-right: 0.5rem;
  }
  .footer-column ul {
    display: inline-block;
  }
  @media (min-width: 768px) {
    .footer-column ul {
      text-align: left;
    }
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  }
  
  ul.social-buttons li a:active,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:hover {
    background-color: #fec503;
  }
  
  ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #1a1d20;
  }
  
  footer .quick-links {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .copyright {
    color: white;
  }
  
  .fa-ellipsis-h {
    color: white;
    padding: 2rem 0;
  }
  .page{
    margin:0 auto;
    padding-top:30px;
    width: 100%;
  }
  #home-news{
    font-size: 40px;
      text-align:center;
      text-transform:uppercase;
      color:#464646;
      height: 45px;
      line-height: 45px;
      overflow:hidden;
      position:relative;
  }.home_header {
      position:absolute;
      width:100%;
      z-index:99;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .home_header_on {
      z-index:100;
  }.home_header strong {
      color: #fec503;
  }.home_header span, .home_header strong {
      position:relative;
      top:-50px;
  }.home_header_on *:nth-child(1) {
       top: 0;
      -webkit-transition: top .6s ease-in-out;
      -moz-transition: top .6s ease-in-out;
       transition: top .6s ease-in-out;
  }.home_header_on *:nth-child(2) {
      top: 0;
      -webkit-transition: top .6s ease-in-out .15s;
      -moz-transition: top .6s ease-in-out .15s;
      transition: top .6s ease-in-out .15s;
  }.home_header_on *:nth-child(3) {
      top: 0;
      -webkit-transition: top .6s ease-in-out .3s;
      -moz-transition: top .6s ease-in-out .3s;
      transition: top .6s ease-in-out .3s;
  }.home_header_out *:nth-child(1) {
      top: 50px;
      -webkit-transition: top .6s ease-in-out;
      -webkit-transition: top .6s ease-in-out;
      -moz-transition: top .6s ease-in-out;
  }.home_header_out *:nth-child(2) {
      top: 50px;
      -webkit-transition: top .6s ease-in-out .15s;
      -moz-transition: top .6s ease-in-out .15s;
      transition: top .6s ease-in-out .15s;
  }.home_header_out *:nth-child(3) {
      top: 50px;
      -webkit-transition: top .6s ease-in-out .3s;
      -moz-transition: top .6s ease-in-out .3s;
      transition: top .6s ease-in-out .3s;
  }
  

  /* end of the footer */
  /* modal */

  .modal {
   
    
    font-size: 1vm;
   
    will-change: visibility, opacity;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition-delay: $modal-delay;
  }
  .modal--active {
    visibility: visible;
    opacity: 1;
  }
  .modal--align-top {
    align-items: flex-sart;
  }
  .modal__bg {
    background:rgb(8, 6, 6,0.7);
  }
  .modal__dialog {
    max-width: 700px;
    padding: 1.2rem;
  }
  .modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 2.4rem;
    background: #ffebee;
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
    opacity: 0;
    transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .modal__content--active {
    opacity: 1;
  }
  .modal__close {
    z-index: 1100;
    cursor: pointer;
  }
  .modal__trigger {
  
   color: white;
    z-index: 1;
    cursor: pointer;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .modal__trigger--active {
    z-index: 10;
  }
  .modal__trigger:hover {

    /* background-color: rgb(211, 182, 17,0.5); */
  }
  #modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  /**
   * Demo specific CSS
   */
  
  
  
  
  
  @media (max-width: 640px) {
    .demo-btns .modal__trigger {
      margin-bottom: 0.8rem;
    }
  }
  .demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: rgba(241, 227, 227, 0.3);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .demo-close svg {
    width: 24px;
    fill: rgb(17, 15, 15);
    pointer-events: none;
    vertical-align: top;
  }
  .demo-close:hover {
    background: rgba(0,0,0,0.6);
  }
  .logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;
  }
  .logo img {
    width: 45px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .logo img:hover {
    -webkit-transform: rotate(180deg) scale(1.5);
            transform: rotate(180deg) scale(1.5);
  }
  /* modal  */
  .modal__trigger
  {
    color: white;
  }















  @media screen and (max-width: 886px)
  {
  .magnovitelogo
  {
    position: absolute;
    height: 130px;
    width: 150px;
    top:45%;
    left: 42%;
  }
  
  }
 
  @media screen and (max-width: 786px)
  {
  .magnovitelogo
  {
    position: absolute;
    height: 130px;
    width: 150px;
    top:40px;
    left: 40%;
  }
  div#columns figure {
  
   
    float: left;
   
    
  }
  #columns {
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto;
    padding-right: 40px;
  }
  } 

  @media screen and (max-width: 610px)
  {
  .magnovitelogo
  {
    position: absolute;
    height: 130px;
    width: 150px;
    top: 38px;
    left: 35%;
  }
 
  }


  @media screen and (max-width: 510px)
  {
  .magnovitelogo
  {
    position: absolute;
    height: 130px;
    width: 150px;
    top: 35px;
    left: 30%;

  }

  
  }

  @media screen and (max-width: 410px)
  {
  .magnovitelogo
  {
    position: absolute;
    height: 130px;
    width: 150px;
    top:20px; 
    left: 23%;
  }
  
  } */
footer a
{
  color:wheat;
}
footer li{
  text-align: center;
}
.eventcontainer figure .modal__trigger
{
  color: white;
}
footer
{
  margin: -50px;
}